{% extends "base_prepare.html" %}
{% set active_page = 'cut' %}


{% block head %}
    <script type="module"
            src="{{ url_for('static', filename='js/scripts_cut.js') }}?ver={{ version }}"></script>
    <meta id="manage-url" data-url="{{ url_for('manage.manage') }}">
    <meta id="upload-url" data-url="{{ url_for('upload.upload') }}">
    <meta id="num-word" data-numWord="{{ numWord|default(0) }}">
    <meta id="num-char" data-numChar="{{ numChar|default(0) }}">
    <meta id="num-line" data-numLine="{{ numLine|default(0) }}">
    <meta id="active-file-ids" data-activeFileIDs="{{ activeFileIDs }}">
{% endblock %}

{% block title %}Cutter{% endblock %}

{% block options %}
    <!-- Hidden input to store active file ids. -->
    <input type="hidden" id="active_file_ids" name="active_file_ids"/>
    <legend>Select Document(s) to cut</legend>
    <!-- Check box for files when there are files. -->
    {% if labels|len > 0 %}
        <div id="file-select-div" style="overflow:auto; max-height: 130px;">
            <div id="file-select-list">
                {% for fileID, label in labels.items() %}
                    <div class="each-file">
                        <label id="file-select-label"
                               style="margin: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ label }}
                            <input type="checkbox" class="file-select" checked
                                   value="{{ fileID }}">
                        </label>
                    </div>
                {%- endfor %}
            </div>
        </div>
    {%- endif %}
    <!-- Warning message when no files are found. -->
    {% if labels|len == 0 %}
        <span id="no-labels">You do not have enough active documents.
            Please activate at least 1 document using the
            <a href={{ url_for('manage.manage') }}>Manage</a> tool or
            <a href={{ url_for('upload.upload') }}>Upload</a> a new document.
        </span>
    {%- endif %}

    <!-- Set cutting options. -->
    <fieldset class="cutting-option">
        <legend>Cutting Options
            <a class="btn bttn bttn-video" title="Show tutorial video"
               href="https://www.youtube.com/watch?v=-HpUbl1SzSA&list=PLEoAaCvaZOMMZD7x3SaQztPJxtpijv_gD&index=4"
               target="_blank" data-toggle="tooltip" data-placement="right"
               data-trigger="hover" style="margin: -10px 5px;">
                <i class="fa fa-video-camera fa-lg "></i>
            </a>
        </legend>

        <!-- Set cutting method. -->
        <label for="method">Cut by
            <select name="method" id="method">
                <option value="tokens" {{ 'selected' if session['cut_option']['method'] == 'tokens' }}>
                    tokens per segment
                </option>
                <option value="characters" {{ 'selected' if session['cut_option']['method'] == 'characters' }}>
                    characters per segment
                </option>
                <option value="lines" {{ 'selected' if session['cut_option']['method'] == 'lines' }}>
                    lines per segment
                </option>
                <option value="segments" {{ 'selected' if session['cut_option']['method'] == 'segments' }}>
                    number of segments
                </option>
                <option value="milestone" {{ 'selected' if session['cut_option']['method'] == 'milestone' }}>
                    milestone
                </option>
            </select>
        </label>

        <div id="cutting-option-for-general">
            <label for="chunk-size">Size of each segment:
                <input type="number" name="chunk-size" id="chunk-size" min="1"
                       value="{{ session['cut_option']['chunk_size'] }}">
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="A positive integer used to divide up the text
                          (e.g. either the number of letters, words, or lines
                          per segment, or the number of segments per document).">
                </i>
            </label>
            <br>
            <label for="overlap">Size of overlap between segments:
                <input type="number" name="overlap" id="overlap" min="0"
                       value="{{ session['cut_option']['overlap'] }}">
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="Amount of overlapping content at segment boundaries
                          (a number smaller than the overall size of the segment).">
                </i>
            </label>
            <br>
            <label for="last-prop">Last segment size threshold in percentage:
                <input type="number" name="last-prop" id="last-prop"
                       min="0" max="100"
                       value="{{ session['cut_option']['last_prop'] }}">
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="The size of the last segment must be at least as
                              large as the given percentage (threshold) of other
                              segment sizes. If the length of the last segment
                              is found to be too small, it will be attached to
                              the previous segment.">
                </i>
            </label>
        </div>

        <div id="cutting-option-for-segments"
             hidden="{{ session['cut_option']['method'] != "segments" }}">
            <span>Number of Segments: </span>
            <label for="num-segment">
                <input type="number" name="num-segment" id="num-segment"
                       min="1" value="{{ session['cut_option']['segment_size'] }}"/>
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="A positive integer used to divide up the text evenly into chunks.">
                </i>
            </label>
        </div>

        <div id="cutting-option-for-milestone"
             hidden="{{ session['cut_option']['method'] != "milestone" }}">
            <span>
                Cut documents on this term:
                <label for="milestone-value">
                    <input type="text" name="milestone-value"
                           id="milestone-value"
                           value="{{ session['cut_option']['milestone'] }}">
                </label>
            </span>
        </div>
    </fieldset>
{% endblock %}

{% block previews %}
    {% for (fileID, filename, doclabel, fileContents) in previews %}
        <fieldset class="individualpreviewwrapper">

            <legend class="individualpreviewlegend"
                    style="color:#999;">{{ doclabel|truncate(36, True) }}

            </legend>


            {% if fileContents is string %}
                <div class="filecontents">{{ fileContents|nl2br }}</div>
                <!-- Keep this with no whitespace! -->
            {% elif fileContents is sequence %}
                {% for (segmentLabel, segmentString) in fileContents %}
                    <div class="filechunk">
                        <span class="filechunklabel">{{ segmentLabel|truncate(30, True) }}</span>
                        <div>{{ segmentString }}</div>
                    </div>
                {% endfor %}

            {% endif %}
        </fieldset>

    {% endfor %}
{% endblock %}

{% block actions %}
    <input type="button" class="btn btn-primary" id="apply-cut"
           name="apply-cut" value="Apply Cuts"/>
{% endblock %}
